/my_lambda_framework/.terraform/
/my_lambda_framework/scripts/script-0/python/
/my_lambda_framework/scripts/script-0/script-0_layer.zip
/my_lambda_framework/scripts/script-0/script-0_python.zip
/my_lambda_framework/scripts/script-1/python/
/my_lambda_framework/scripts/script-1/script-1_layer.zip
/my_lambda_framework/scripts/script-1/script-1_python.zip
/my_lambda_framework/scripts/script-2/python/
/my_lambda_framework/scripts/script-2/script-2_layer.zip
/my_lambda_framework/scripts/script-2/script-2_python.zip
/tf2ansible/.terraform.lock.hcl
/tf2ansible/.terraform/
/tf2ansible/terraform.tfstate
/tf2ansible/terraform.tfstate.backup
/tf2ansible/aws_key.pub
/tf2ansible/aws_key
/my_lambda_framework/terraform.tfstate
/my_lambda_framework/terraform.tfstate.backup
/eks_aws/.terraform.lock.hcl
/eks_aws/.terraform.tfstate.lock.info
/eks_aws/terraform.tfstate
/eks_aws/terraform.tfstate.backup
